.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  border: 1px solid black;
}

.play-lists {
  display: flex;
}

.navbar {
border-bottom: 1px solid black;
background-color: white;
}

.Playlist {
  width: 95%;
  margin-top: 50px;
}

.PlayItem {
  margin: 10px;
}

.PlayForm {
  margin-top: 50px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardBlock {
  margin: 5px 10px;
  padding-top: 5px;
}

.cards {
  background-color: grey;
  margin-bottom: 50px;
}

.cardTitle {
  color: white;
}

.cardText {
  color: gold;
}

.App {
  background-color: whitesmoke;
}

.PlayForm {
  height: 350px;
  background-color: grey;
  color: black;
  margin-top: 85px;
  margin-right: 80px;
}

.other {
  background-color: lightgrey;
}

.form-group {
  padding: 10px;
}
